h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}
html {
  background-color: tan;
}

#flag-container{
  display: flex;
  flex-flow: column;
  height: 450px;
  width: 55%;
  background-color: white;
}
#upper {
  display:flex;
  height:55%;
}

#left{
  width: 45%;
  background-color: rgb(32, 32, 163);
}

#right{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 55%;
}

#blue-box{
  display:flex;
  height: 100%;
  flex-flow: column;
  margin: 2px 0px 2px 0px;
}

#bot{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 45%;
}


.redStripe {
  flex: 1;
  background-color: rgb(158, 43, 43);
}

.whiteStripe {
  flex: 1;
}

.star-row-six {
  flex: 1;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 12px;
}

.star-row-five {
  flex: 1;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  margin: 0px 20px;
}


.star {
  font-size: 150%;
  color: white;
  border-color: none;
}

#right div:nth-child(odd) {
  background-color: pink;
}